= form_for @comment do |f|
  = f.hidden_field :user_id, :value => current_user.id
  = f.hidden_field :post_id, :value => post.id
  = f.text_field :text, :class => 'text_field'
  = f.submit nil, :class => 'btn btn-primary'
