- model_class = Vote
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:post_id)
      %th= model_class.human_attribute_name(:user_id)
      %th= model_class.human_attribute_name(:up_or_down)
      %th= model_class.human_attribute_name(:created_at)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @votes.each do |vote|
      %tr
        %td= link_to vote.id, vote_path(vote)
        %td= vote.post_id
        %td= vote.user_id
        %td= vote.up_or_down
        %td=l vote.created_at
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_vote_path(vote), :class => 'btn btn-mini'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), vote_path(vote), :method => :delete, :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')), :class => 'btn btn-mini btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_vote_path, :class => 'btn btn-primary'
